body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:153px;
  top:70px;
  width:545px;
  height:323px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:323px;
}
#u1 {
  position:absolute;
  left:2px;
  top:154px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:256px;
  top:196px;
  width:174px;
  height:20px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:256px;
  top:226px;
  width:174px;
  height:20px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:196px;
  top:199px;
  width:49px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:196px;
  top:231px;
  width:58px;
  height:32px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:390px;
  top:294px;
  width:106px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:551px;
  top:361px;
  width:140px;
  height:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  visibility:hidden;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:191px;
  top:372px;
  width:470px;
  height:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:182px;
  top:355px;
  width:491px;
  height:21px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:21px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:197px;
  top:261px;
  width:57px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:269px;
  top:290px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:256px;
  top:256px;
  width:174px;
  height:24px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u20_input:disabled {
  color:grayText;
}
